/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

// ______HOME PAGE _______
//  to only appear on one page
 .homepageimg {
     
     margin: 0 auto;
     background-image: url("food.jpg");
 }

 h1 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    opacity: none;
 }

 .fa-utensils{
    color: #ff9999;
    font-size: 320px;
    text-shadow: 1px 1px 2px white, 0 0 15px pink, 0 0 5px palevioletred;
    opacity: none;
}

.jumbotron{
   
    opacity: 90%;
    border-radius:50px ;
   
}
 
//  ______PARTIALS PAGE _______
 footer {
     font-size: 15px;
     color: #ff9999;
     text-align: center;
 }
 

.navbar{
    border-bottom: thin;
    opacity: 90%;
}


.navbar-brand {
   color: #ff9999;
   font-family: 'Rock Salt', cursive;
   text-decoration: underline;
   font-weight: bold;
   font-size: 50px;
   opacity: none;
 
}

.navbar-brand:hover{
   
   color: #ff9999;
   opacity: none;
   
}


.nav-link{
    
    font-size: 20px;
    color: grey;
    opacity: none;
    
}

.nav-link:hover{
    color: #ff9999;
    font-weight: bold;
    opacity: none;
    
 }

.nav-item1{
    color: white;
    font-size: 20px;
    opacity: none;
    
    border: 1px solid #ff9999;
    border-radius: 15px;
}


//  ______ALL BUTTONS _______


.btn {
    background-color: #ff9999;
    border-color: #ff9999;
    opacity: none;
   
}
.btn:hover {
    background-color: white;
    border-color: #ff9999;
    color: #ff9999
   
}


//  ______LOGIN FORM _______
.form-inputs {
    background-color: whitesmoke;
    margin-left: 360px;
    margin-right:360px;
    padding: 20px;
}
.form-actions {
   background-color: whitesmoke;
   margin-left: 360px;
   margin-right:360px;
   padding: 20px;
}

.form-inline{
   
   margin-left: 70px;
}

.links{
   font-size: 15px;
    margin-left: 360px;
    margin-right:360px;
    color: black;
    
}


 //  ______APPLICATION PAGE > ALERT/NOTICE _______
 
.container{
   text-align: center;
}

//  ______MENU PAGE _______
.card-img-top{
   height: 200px;
   width: 335px;
}

.card{
   
   margin: 20px;
   width: 335px;
}







